* {
    margin: 0
}
/*******************************right console*****************************************/
#inputFiles {
    margin: 5px 10px 0 0;
    width: 300px;
    direction: rtl;
    float: right;
    display: block;
    border: none
}

#showInstrOptions {
    margin: 5px 0 5px 0;
}

#instrInputGroup {
    margin: 5px 0 5px 0;
}

.border-secondary {
    border: 1px solid;
    border-radius: 3px;
}

#programFields {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    width: inherit;
    height: 500px;
    border: 1px solid
}

#programFields::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

/*******************************left console*****************************************/
/*------------canvas--------------*/
#flowchartwindow {
    overflow: scroll;
    width: inherit;
    max-height: 700px;
    border: 1px solid;
    background: repeating-linear-gradient(45deg, rgb(238, 238, 238), rgb(238, 238, 238) 10px, rgb(229, 229, 229) 10px, rgb(229, 229, 229) 20px);
}

#flowchartworkspace {
    width: 1500px;
    height: 1000px;
    background-color: white;
    /*
        min-height: 1000px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDUuNSBMIDIyIDUuNSBNIDUuNSAwIEwgNS41IDIyIE0gMCAxMSBMIDIyIDExIE0gMTEgMCBMIDExIDIyIE0gMCAxNi41IEwgMjIgMTYuNSBNIDE2LjUgMCBMIDE2LjUgMjIiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2QwZDBkMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDIyIDAgTCAwIDAgMCAyMiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZDBkMGQwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
    */
}

#flowchartworkspace_ {
    -ms-overflow-style: none; /* IE and Edge */
}

#flowchartworkspace_::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.flowchart-container_disabled {
    width: 800px;
    height: 400px;
    background: white;
    border: 1px solid #BBB;
    margin-bottom: 10px;
}

.flowchart-buttons-1 {
    margin-top: 10px;
}

.flowchart-buttons-2 {
    margin-top: 10px;
}

.flowchart-data-container {
    margin-top: 10px;
}

#operator_properties {
    width: 50%;
}

#link_properties {
    width: 50%;
}

#opGroup_properties {
    width: 50%;
}

#flowchart_data {
    width: 50%;
    min-height: 300px;
}

#resizable{
    width: 100px;
    height: 100px;
    border: 1px solid;
}
/*------------code division--------------*/
#code-division {
    margin-bottom: 5px;
}

#cellUnitContainer {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    width: inherit;
    height: 500px;
    border: 1px solid
}

#cellUnitContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

#cellUnitContainer .row {
    margin-bottom: 5px;
}

#cellUnitContainer .list-group {
    width: 100%;
}

#cellUnitContainer .list-group-item {
    width: 100%;
}

li.list-group-item_disable {
    height: 24px;
    padding: 0 10px;
    border: 0 none;
}

ul.list-group_disable {
    margin-bottom: 5px;
}

/*------------relation division--------------*/
#relation-division {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nav-tabContent {
    overflow-y: scroll !important;
    height: 300px !important;
}

#nodeGroupBlock {
    width: 100%;
    display: block;
}

#v-pills-tab {
    height: 300px;
}

#v-pills-tabContent {
    margin: 5px 0px 2px 17px;
    width: 75%;
}

#relation-division .custom-select {
    margin: 0px 5px 0px 0px;
}

/*------------dependency division--------------*/
#dependency-division {
    margin-top: 5px;
    margin-bottom: 5px;
}

#nav-tabContent-dependency {
    overflow-y: scroll !important;
    height: 300px !important;
}

#v-pills-tab-constraints {
    height: 300px;
}

#v-pills-tabContent-constraints {
    margin: 5px 0px 2px 17px;
    width: 75%;
}

#dependency-division .custom-select {
    margin: 0px 5px 0px 0px;
}

#dependency-division .form-check {
    margin: 4px 0px 0px 5px;
}

/*----------------other test-------------------*/
#schema {
    display: block;
    float: left;
    margin: 50px 0 0 80px; 
    width: 300px;
    background-color: lightgrey
}

    #schema span {
        width: 300px;
        background-color: lightgrey
    }

    #schema p {
        margin-top: -8px
    }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}